body{
  margin: 0 50px;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: azure;
}

.user-session{
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: end;
}

.user-info{
}

.user-signin{
}